* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mode-dark{
    background-color: #121212;
    color:#fff;
}

.mode-light{
    background-color: #fff;
    color:#121212;
} 

.banner{
    background-image: url('image-park.jpeg');
    background-size: cover; 
    background-position: center;
    height: 60vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: rgb(196, 197, 198);
}

.banner::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.45;
    background-color: #121212;
}

.banner .content-banner{
    position: relative;
}

.banner h1{
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.banner span{
    font-weight: bold;
}

#btnModeDark{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgb(56, 136, 183);
    border-radius: 100%;
}

#btnModeDark:hover{
    cursor: pointer;
}